.wrapper{
    font-family: 'Poppins', sans-serif;
    font-style:italic;
    background: #f5f6fa;
    display: flex;
    flex-direction: column;
    height:100vh;
}
body{
    overflow: hidden;
}

.favouriteItems{
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
scrollbar-width:thin ;
scrollbar-color: #e0d4d4 #f5f6fa;
width:35rem;
height:90%;
overflow-y: auto;
}

.favouriteCard img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.favouriteCard{
    display: flex;
    align-items: flex;
    background: #fff;
    padding: 15px;
    margin: 10px; 
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.favouriteDetails{
    margin-left: 20px;
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.favouriteDetails button{
    padding: 8px 12px;
    border: none;
    background: #ff4757;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


































