*{
    margin:0;
    padding: 0;

}
body{
     background: #f5f6fa;
     overflow:hidden;

}
.wrapper{

    font-family: 'Poppins', sans-serif;
    font-style:italic;
    background: #f5f6fa;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.orders{
    margin: 20px auto;
    width:40rem;
   max-width: 100%;
    max-height: 36.5rem;
    /* background-color: blue; */
    overflow: auto;
    scrollbar-width:thin;
    scroll-behavior: smooth;
    scrollbar-color: #a89e9e #f5f6fa;
   scroll-padding: 10px;
   scroll-snap-type:mandatory;
}

.orderCard{
    display: flex;
    align-items: flex;
    background: #fff;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

.orderCard img{
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.orderDetails{
    margin-left: 20px;
    display: flex;
    flex-direction:column ;
    gap:5px;
}

.orderDetails span{
    font-size: 14px;
    color: #555;
}
